/* #btnGetCities {
               width: 120px;
               padding-right: 0px;
               } */
   .Section3  {
                margin-left  : 43px;
                margin-bottom: 10px;
                }
#btnShoExcel  {
                width: 130px;
                padding-right: 0px;
                }
#fldExcelFile { border-bottom: solid 1px black;
                width: 300px;
                font-family: "times-roman";
                }

             